# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
datasets

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Results (optional - remove if you want to track results)
results/*.csv
results/*.txt
results/charts/*.png